body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #120F17;
  }
  
  #navbar {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  #navbar.opaque {
    background-color: #120F17; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    
  }

  #nem {
    font-size: medium;
    color: #ffffff;
    padding-left: 21px;
    
  }
  
  ul {
    list-style-type: none;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: medium;
    padding-right: 21px;
  }
  
  ul li {
    margin-left: 20px;
  }
  
  ul li:first-child {
    margin-left: 0;
  }
  
  ul li a {
    text-decoration: none;
    color: rgb(155, 155, 155);
    padding: 10px 15px;
    display: inline-block;
  }
  
  ul li a:hover {
    color: #ddd;
  }
  
  #bubble {
    width: 28px;
    height: 28px;
    background-color: #5d547cc2;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out; 
  }
  
  #bold {
    color: #5D547C;
    vertical-align: middle;
  }

  .vertical-center {
    display: table-cell;
    vertical-align: middle;
  }

  .top-imej {
    max-width: 100%;
  }

  .resume-container, .coding-skills-container {
    display: grid;
    grid-template-columns: [onec]25% [twoc]10.5% [threec]17.5% [fourc]17.5% [fivec]17.5% [sixc]25%;
    grid-template-rows: [oner]75px [twor]165px [threer]120px;
    gap: 10px;
    padding: 10px;
  }

  .title-inner {
    grid-column: twoc / twoc;
    grid-row: oner / oner;
    color: #ffffff;
  }

  .imej {
    grid-column:twoc / threec; 
    grid-row: oner / twor;
    max-width: 10%;
  }

  .smol_about {
    grid-column: threec / fivec;
    grid-row: oner / twor;
    text-align: left;
  }

  .info_list {
    grid-column: threec / fivec;
    grid-row: twor / threer;
  }

  .info_list li {
    color: rgb(155, 155, 155);
    font-size:12.5pt;
  }

  .items{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 10PX;
  }

  .items li {
    padding-bottom: 6px;
    flex: 1 1 calc(50% - 20px);
    margin: 2px;
    box-sizing: border-box;
  }

  .items strong {
    color:#a856ff;
  }

  .btn-cv {
    padding: 10px;
    background-color: #120F17;
    border-color: #a856ff;
    color: #a856ff;
    border-width: 3px;
    border-style: solid;
    font-size: 16px;
    width: 160px;;
  }

  .btn-cv:hover {
    background-color: #a856ff;
    color: #120F17;
  }

  .smol_about p {
    color:rgb(155, 155, 155);
    text-align: left;
    font-size: 13pt;
  }

  .percentage-bar-container {
    width: 80%;
    max-width: 750px;
    display: grid;
    grid-column: twoc / sixc;
    grid-row: twor / threer;
  }
  
  .percentage-bar {
    height: 4px;
    width: 100%;
    background-color: #2C2538;
    border-radius: 15px;
    margin: 10px 0;
    overflow: hidden;
  }
  
  .progress {
    height: 30px;
    line-height: 30px;
    background-color: #a856ff;
    color: rgb(155, 155, 155);
    text-align: center;
    border-radius: 15px 0 0 15px;
    transition: width 0.5s ease;
    position: relative;
  }
  
  .progress::after {
    content: attr(style);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
  }  

  .percentage-bar-titles{
    color: #ffffff;
  }

  .percentage-bar-wrapper {
    margin-bottom: 20px;
  }

  .security-skills-container {
    display: grid;
    grid-template-columns: [onec]187.5px [twoc]187.5px [threec]187.5px [fourc]187.5px;
    grid-template-rows: [oner]120px [twor] 100px;
  }

  .sec-title-inner {
    padding-top: 20px;
    grid-column: threec / fourc;
    grid-row: oner;
    color: #ffffff;
  }

  .progress-circle {
    position: relative;
    width: 120px;
    height: 120px;
    padding-right: 65px;
    padding-left: 10px;
  }
  
  .progress-ring {
    transform: rotate(-90deg);
  }
  
  .progress-ring__circle {
    transition: 0.35s stroke-dasharray;
    transform-origin: 50% 50%;
    stroke: #a856ff;
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #8277ad;
    padding-right: 65px;
    padding-left: 10px;
  }

  .progress-name {
    padding-top: 20px;
    position: absolute;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }

  .progress-circle-wrapper {
    grid-column: threec / fourc;
    grid-row: twor /twor
  }

  footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #67607d;
    text-align: left;
    padding-bottom: 55px;
    margin-left: 50px;
    font-size: 14px;
  }

  .language-container {
    display: grid;
    grid-template-columns: [onec]25% [twoc]25% [threec]25% [fourc]25%;
    grid-template-rows: 30px 30px 30px 30px;
  }